<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ asset('node_modules/materialize-css/dist/css/materialize.css') }}"  media="screen,projection"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body>
        {% block body %}
            {% include 'components/header.html.twig' %}
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
            {% include 'components/footer.html.twig' %}
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('node_modules/jquery/dist/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('node_modules/materialize-css/dist/js/materialize.js') }}"></script>
        {% endblock %}
    </body>

</html>
